/* acıklama yapılacak*/
body{
    text-align: center;
}
img{
height: 500px;
width: 325px;

}
a{
    border-radius: 5px;
    border-color: black;
    
    border-bottom: 2px;
    color: red;
    font-size: 25px;
}
